<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1"><![endif]--> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= page_title || 'Welcome' %></title>
  <%= render :partial => 'layouts/rubble/meta' -%>
  <%= render :partial => 'layouts/rubble/externals' -%>

  <%= stylesheets_for_path ['master'] %>

  <%= javascript_include_tag 'libs/modernizr-1.6.min.js' -%>
  
</head>